<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=stepan\sqlexpresss;Initial Catalog=Stepanyan;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DataEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stepan\sqlexpresss;initial catalog=Data;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StepkaEntities" connectionString="metadata=res://*/Data2.csdl|res://*/Data2.ssdl|res://*/Data2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hv_srv;initial catalog=Stepka;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StepkaEntities1" connectionString="metadata=res://*/Data1.csdl|res://*/Data1.ssdl|res://*/Data1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hv_srv;initial catalog=Stepka;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FilmPickEntities" connectionString="metadata=res://*/DataBasa.csdl|res://*/DataBasa.ssdl|res://*/DataBasa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=StepanPK\sqlexpress;initial catalog=FilmPick;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FilmPickEntities1" connectionString="metadata=res://*/BASE.csdl|res://*/BASE.ssdl|res://*/BASE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=StepanPK\sqlexpress;initial catalog=FilmPick;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FilmPickEntities2" connectionString="metadata=res://*/Base.csdl|res://*/Base.ssdl|res://*/Base.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=StepanPK\sqlexpress;initial catalog=FilmPick;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DB" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=StepanPK\sqlexpress;initial catalog=FilmPick;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FilmPickEntities3" connectionString="metadata=res://*/FILMBASE.csdl|res://*/FILMBASE.ssdl|res://*/FILMBASE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=StepanPK\sqlexpress;initial catalog=FilmPick;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>